<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Denis Bernardo é um desenvolvedor de software com foco em web, no qual possui mais de 4 anos de experiência, agindo principalmente na área front-end, na construção de interfaces amigáveis, funcionais e adaptativas para mobile, tablets e desktops. Aliado a isso, também possui experiência em tecnologias back-end, utilizadas na construção de API's REST, micro-serviços e arquitetura de sistemas SaaS. Cursa atualmente Análise e desenvolvimento de sistemas pela Uninter e pretende iniciar em breve uma pós-gradução em Arquitetura de Software. Atualmente seu trabalho está
fortemente baseado no uso das tecnologias: React, Node.js, NoSQL (DynamoDB), Micro-services e Serverless na AWS.</p>
</div><!--//summary-->
</section><!--//section-->
