<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
    <p>Denis Bernardo é um desenvolvedor de software multidisciplinar, com experiência no desenvolvimento de soluções para e-commerce, logística, serviços de telemetria, chatbots, transporte público, entre outros</p>
    <p>Autodidata e apaixonado pelo que faz, está sempre buscando aprimorar suas habilidades, visando trazer excelência para as aplicações que desenvolve.</p>
</div><!--//summary-->
</section><!--//section-->
