<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiência</h2>
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">XL Solutions</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Desenvolvimento de soluções multidiciplinares, impactando milhares de usuários.</p>
                        <p>Telemetria, Chatbots, API's Restful, Linked Data, Serverless architectures, etc.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">FullStack Developer</h3>
                            <div class="time">2013 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">WDNA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Atuando tanto como front-end, tanto quanto back-end na construção e aprimoramento da plataforma de ecommerce saas da empresa, integrando com diversos serviços de terceiros via API rest.</p>
                        <p>Uso massivo de produtos Amazon, para computação em nuvem de alta performance, fluxo de atualização de mais de 500 mil produtos por dia para mais de 350 clientes.</p>                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de suporte</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Atos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Primeiro nível de atendimento ao usuário, utilizando processos como ITIL, modulos SAP, focado em resolver e escalonar incidentes detectados durante o atendimento.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->               
                
            </section><!--//section-->
