<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
                <div class="intro">
                    <p>Projetos recentes</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://servir.me/">Servir.me</a></span> - <span class="project-tagline">Plataforma SaaS para publicação de cardápios online de forma rápida e fácil (em andamento).</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://ortopedicolondrina.com.br" target="_blank">Site Ortopédico Londrina</a></span> - 
                    <span class="project-tagline">Site institucional em Wordpress</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/denis-bernardo/gerencionet" target="_blank">Gerencionet</a></span> - <span class="project-tagline">Sistema open-source para gerenciamento de bares e lanchonetes.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/denis-bernardo/weather-app" target="_blank">Weather Web App</a></span> - <span class="project-tagline">Informações climáticas por cidade usando api públicas.</span>
                </div><!--//item-->
            </section><!--//section-->
